
<h3>Enter how much of the following you would currently like for your mate </h3>


Quality time: <input type="range"  min="0" max="100" />

<br/>
<br/>

Receiving gifts:  <input type="range"  min="0" max="100" />

