RewriteEngine On
#RewriteBase /relationship_solver

# doesn't work!
SetEnv RAILS_RELATIVE_URL_ROOT /relationship_solver

# If your Rails application is accessed via an Alias directive,
# then you MUST also set the RewriteBase in this htaccess file.
#
# Example:
#   Alias /relationship_solver /home/wilkboar/dev/prod_relationship_solver/public


RewriteRule ^(stylesheets/.*)$ - [L]
RewriteRule ^(javascripts/.*)$ - [L]
RewriteRule ^(images/.*)$ - [L]

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ dispatch2.fcgi [E=X-HTTP_AUTHORIZATION:%{HTTP:Authorization},QSA,L]

#AddHandler fcgid-script .fcgi
ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"
